/* Navigation */
@import "styles/lib";

.navigation {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: rem(24px);
  padding: rem(24px) rem(24px);
  border-bottom: rem(1px) solid color(grey, 20);
  background-color: white;
}
